ROLE=
NODE_TLS_REJECT_UNAUTHORIZED=
NODE_ENV=
DATABASE_URL=
NEXT_PUBLIC_API_URL=
JWT_SECRET=
REFRESH_TOKEN_SECRET=
ACCESS_TOKEN_EXPIRY=
REFRESH_TOKEN_EXPIRY=

# Payment (Razorpay)
RAZORPAY_KEY_ID='
RAZORPAY_KEY_SECRET=

# OAuth - Google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=
 
# OAuth - Facebook
FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=
FACEBOOK_REDIRECT_URI=

PAYU_TEST_KEY=
PAYU_TEST_SALT=
PAYU_TEST_URL=
PAYU_PROD_URL=

EMAIL_PROVIDER=
SMS_PROVIDER=
MSG91_AUTH_KEY=
MSG91_EMAIL_DOMAIN= 
MSG91_NO_REPLY_EMAIL=
MSG91_FROM_NAME=
SIGNUP_SMS_TEMPLATE_ID=
SIGNIN_SMS_TEMPLATE_ID=
PASSWORD_RESET_EMAIL_TEMPLATE_ID=
OTP_EMAIL_TEMPLATE_ID=
CREATE_ORDER_EMAIL_TEMPLATE_ID=
SUPPORT_TICKET_UPDATE_EMAIL_TEMPATE_ID=w
PASSWORD_RESET_EMAIL_TEMPATE_ID=

# Google Maps
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=

# App URLs
NEXT_PUBLIC_CUSTOMER_URL=

AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_COMMON_BUCKET=

AWS_S3_SIGNED_URL_EXPIRY=

ENCRYPTION_MASTER_KEY=

# AWS SQS for async order confirmation emails
AWS_SQS_ORDER_QUEUE_URL=
NEXT_PUBLIC_S3_LOGO_URL = 